
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-desktop fa-5x"></i>
					<br />
					<span>HardWare</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Find</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-plus"></i> <span>Add</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-cog"></i> <span>Item Types</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-cog"></i> <span>Status Types</span></a></div>
									<p>Manage your H/W items PCs, Switches, Phones, etc</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-th-large fa-5x"></i>
					<br />
					<span>SoftWare</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Find</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-plus"></i> <span>Add</span></a></div>
									<p>Manage your software</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-archive fa-5x"></i>
					<br />
					<span>Invoices</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Find</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-plus"></i> <span>Add</span></a></div>
									<p>Manage your Invoices</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-file-text fa-5x"></i>
					<br />
					<span>Contract</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Find</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-plus"></i> <span>Add</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-cog"></i> <span>Contract Types</span></a></div>
									<p>Manage your contracts Support, Licenses, Leases, etc</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-file fa-5x"></i>
					<br />
					<span>Files</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Find</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-plus"></i> <span>Add</span></a></div>
									<p>File Maintenance</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-group fa-5x"></i>
					<br />
					<span>Agents</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Find</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-plus"></i> <span>Add</span></a></div>
									<p>Manage Agents  H/W &amp; S/W Manufacturers &amp; Vendors, Buyers, Contractors</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-building fa-5x"></i>
					<br />
					<span>Locations</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Find</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-plus"></i> <span>Add</span></a></div>
									<p>Manage item locations</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-cubes fa-5x"></i>
					<br />
					<span>Racks</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Find</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-plus"></i> <span>Add</span></a></div>
									<p>Add/View</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-tree fa-5x"></i>
					<br />
					<span>Tree Explorer</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-search"></i> <span>Browse</span></a></div>
									<p>Tree Explorer <br> View items by type, by user, by agent</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-list-ol fa-5x"></i>
					<br />
					<span>Reports</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-th"></i> <span>Browse</span></a></div>
									<p>View Reports</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-print fa-5x"></i>
					<br />
					<span>Print Labels</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-th-list"></i> <span>Labels</span></a></div>
									<p>select and print labels for your items</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form_hover">
				<p>
					<i class="fa fa-wrench fa-5x"></i>
					<br />
					<span>Settings</span>
				</p>
				<div class="header" >
					<div class="blur"></div>
					<div class="header-text">
						<div class="panel panel-success" id="panel">
							<div class="panel-heading text-center">
								<i class="fa fa-plus fa-1x"></i>
							</div>
							<div class="panel-body">
								<div class="performance">
									<div><a href="#"><i class="glyphicon glyphicon-cog"></i> <span>Asset Settings</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-user"></i> <span>User</span></a></div>
									<div><a href="#"><i class="glyphicon glyphicon-tags"></i> <span>Tags</span></a></div>
									<p>Asset Setting</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
